<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_settings.site_name }}</title>
    <link href="https://fonts.cdnfonts.com/css/hind-siliguri" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.css" integrity="sha512-VcyUgkobcyhqQl74HS1TcTMnLEfdfX6BbjhH8ZBjFU9YTwHwtoRtWSGzhpDVEJqtMlvLM2z3JIixUOu63PNCYQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

     <link rel="stylesheet" href="{% static 'css/style.css' %}">
     <script src="{% static 'js/script.js' %}"></script>

        <!-- font-aswome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://kit.fontawesome.com/ddee993d4e.js" crossorigin="anonymous"></script>
     <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="icon" href="{{ frontend_setting.favicon.url }}" type="favicon">

    <!-- Add GTM Script in the head -->
    {% if site_settings.gtm_id %}
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id=' + i + dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','{{ gtm_id }}');
    </script>
    {% endif %}

<meta name="keywords" content="{{ site_settings.keywords }}">
<meta name="description" content="{{ site_settings.description }}">

{% if messages %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        {% for message in messages %}
            Swal.fire({
                icon: "{{ message.tags|default:'info' }}",  // Message tags determine the icon: success, error, warning, etc.
                title: "{{ message }}",  // Message content
                confirmButtonText: "OK",  // OK button text
                confirmButtonColor: "#6C63FF",  // Custom button color
                timer: 3000,  // Auto-close after 3 seconds
                showClass: { popup: '' },  // Remove show animation
                hideClass: { popup: '' }   // Remove hide animation
            });
        {% endfor %}
    });
</script>
{% endif %}


</head>
<body>

<!--:::::Navbar :::::::-->
<nav>
    <div class="container nav-sec">
          <a href="/">
        <img src="{{ frontend_setting.logo.url }}" alt="Logo" style="max-height: 50px;">
            <a href="#submit-button" class="order-now-btn">এখানে অর্ডার করুন</a>
          </a>

    </div>
</nav>
<!--:::::Navbar Ends:::::::-->

<!--:::::Body:::::::-->
<div class="container">
    <div class="row box1">
        <!--:::::About:::::::-->
        <div class="content">
            <h1>{{ banner.banner_title }}</h1>
            <p>{{ banner.banner_description }}</p>
        </div>
        <div class="video">
             {% if banner.banner_video_link %}
            <iframe src="{{ banner.banner_video_link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            {% else %}
                <p>No video available.</p>
            {% endif %}
            <div class="order-now-nav">
            <a href="#order" class="order-now-btn hide-on-mobile">এখানে অর্ডার করুন</a>
             </div>
             <div class="order-now-container">
                <a href="#order" class="order-now-btn">এখানে অর্ডার করুন</a>
            </div>
        </div>
        <!--:::::About Ends:::::::-->
    </div>


        <!--:::::Features:::::::-->

    <div class="features box1">
        {% for section in sections %}
        <h2>{{ section.title }}</h2>
        <div class="features-container">
            {% for feature in section.features.all %}
            <div class="feature-item">
<!--                <img src="{{ feature.image.url }}" alt="Icon">-->
                <p>{{ feature.title }}</p>
            </div>
             {% endfor %}
            {% endfor %}
        </div>
        <a href="#order" class="order-now-btn">এখানে অর্ডার করুন</a>
    </div>

        <!--:::::Features end:::::::-->


   <!--:::::FAQ:::::::-->
    <div class="faq box1">
        <h2 class="title">প্রায়শই জিজ্ঞাসিত প্রশ্নাবলী</h2>
        {% for faq in faqs %}
        <div class="faq-item">
            <button class="faq-question" onclick="toggleAnswer(this)">
                <p style="text-align: left; width: 100%; margin: unset">{{ faq.question }}</p>
                <span class="arrow">↻</span>
            </button>
            <div class="faq-answer">
                <p style="text-align: left; width: 100%; margin: unset">{{ faq.answer }}</p>
            </div>
        </div>
        {% endfor %}
          <a href="#order" class="order-now-btn">অর্ডার করতে এখানে ক্লিক করুন</a>
    </div>

   <!--:::::FAQ ends:::::::-->

   <!--:::::Sticky social media:::::::-->
<div class="chat-buttons-container">
    <div class="toggle-button">
        <img src="{% static 'images/chat.png' %}" alt="Click to open chat" id="toggle-chat-image" onclick="toggleChatButtons()" style="cursor: pointer; width: 50px; height: 50px;" />
    </div>

    <div class="chat-buttons" style="display: none;">
        <!-- WhatsApp Button -->
        <div class="whatsapp-button">
            <a aria-label="Chat on WhatsApp" href="https://wa.me/{{ businessinfo.whatsapp }}" target="_blank">
                <img src="{% static 'images/whtsapp.png' %}" alt="WhatsApp" width="40px" height="40px" />
            </a>
        </div>

        <!-- Messenger Button -->
        <div class="messenger-button">
            <a aria-label="Chat on Messenger" href="{{ businessinfo.messenger }}" target="_blank">
                <img src="{% static 'images/Facebook_Messenger_logo_2020.svg.webp' %}" alt="Messenger" width="40px" height="40px" />
            </a>
        </div>
    </div>
</div>
     <!--:::::Sticky social media ends:::::::-->


<div class="row products" id="products">
    <h2 class="titl">Our Products</h2>
     {% for i in products %}
    <div class="product-card">
        <div class="product-image">
             <a href="#" data-bs-toggle="modal" data-bs-target="#productModal{{ i.id }}">
                <img src="{{ i.image.url }}" alt="Product Image">
            </a>
        </div>
        <div class="product_desc_info">
            <h4>
                <a class="product_name" href="{{ i.image.url }}">{{ i.title|truncatechars:22}}</a>
            </h4>
            <div class="price-box">
                {% if i.discount_price %}
                    <span class="new-price">Tk {{i.discount_price|floatformat:"0" }}</span>
                    <span style="text-decoration: line-through; color:  #ff0000;" class="new-price">Tk {{i.price|floatformat:"0" }}</span>
                {% else %}
                    <span class="new-price">Tk {{i.price|floatformat:"0" }}</span>
                {% endif %}
            </div>
             <div class="product-actions">
                 <form action="{% url 'home' %}#order" method="post">
                     <input type="hidden" name="product_id" value="{{ i.id }}">
                      {% csrf_token %}
                <button style="display: block; width: 100%;" id="order-now" class="add-to-cart theme-color" name="order_now" value="true" type="submit">Order Now</button>
                    </form>
                <a href="javascript:void(0);"
                   class="add-to-cart-btn btn btn-primary d-flex align-items-center justify-content-center"
                   onclick="addToCart('{{ i.id }}')">
                    <i class="fas fa-cart-plus me-2"></i> Add to Cart
                </a>
            </div>
        </div>
    </div>
  <!-- Modal -->
    <div class="modal fade" id="productModal{{ i.id }}" tabindex="-1" aria-labelledby="productModalLabel{{ i.id }}" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                 <div class="modal-header no-border">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <img src="{{ i.image.url }}" alt="{{ i.title }}" class="img-fluid mb-3 modal-img-medium">
                    <h3 class="modal-title text-start bold-title" id="productModalLabel{{ i.id }}">{{ i.title }}</h3>
                     <div class="d-flex justify-content-between align-items-center mb-3">
                       <div class="price-box d-flex justify-content-start align-items-center">
                            {% if i.discount_price %}
                                <span class="new-price me-3" style="font-size: 1.5rem; font-weight: bold;">Tk {{ i.discount_price|floatformat:"0" }}</span>
                                <span  style="font-size: 1.2rem; text-decoration: line-through; color: #ff0000;">Tk {{ i.price|floatformat:"0" }}</span>
                            {% else %}
                                <span class="new-price" style="font-size: 1.5rem; font-weight: bold;">Tk {{ i.price|floatformat:"0" }}</span>
                            {% endif %}
                        </div>

                        <form action="{% url 'home' %}#order" method="post">
                     <input type="hidden" name="product_id" value="{{ i.id }}">
                      {% csrf_token %}
                <button style="display: block; width: 100%;" id="order-now" class="btn btn-success" name="order_now" value="true" type="submit">Order Now</button>
                    </form>
                     </div>
                    <p>{{ i.description }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


        <!--:::::Product Details ends:::::::-->

  <!--:::::Order Form and Billing Address :::::::-->
<form action="{% url 'home' %}" method="POST" class="form-container">
  <div class="billing-details" id="order">
    <h2 class="centered-text">
      অর্ডার করতে আপনার সঠিক তথ্য দিয়ে নিচের ফর্মটি পূরণ করুন।<br />
      (আগে থেকে কোন টাকা দেয়া লাগবে না। প্রোডাক্ট হাতে পাবার পর টাকা দিবেন)
    </h2>
    <div class="row order-form">
      {% csrf_token %}
      <input type="hidden" name="shipping_cost" id="shipping_cost" value="" />

      <!-- Billing Details -->
      <div class="form1 col-md-6 col-12 col-sm-12">
        <h4>Billing Details</h4>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" placeholder="Enter your name" required />

        <label for="phone">Phone:</label>
        <input type="tel" name="phone" id="phone" placeholder="Enter your phone number" required />

        <label for="city">City:</label>
        <input type="text" name="city" id="city" placeholder="Enter your city" required />

        <label for="address">Address:</label>
        <textarea name="address" id="address" placeholder="Enter your address" rows="3" required></textarea>
      </div>

      <!-- Order Details -->
      <div class="form2 col-md-6 col-12 col-sm-12">
        <h4>Order Details</h4>
        <div class="order-details">
          <table class="details">
            {% if cart %}
              {% for product_id, product_data in cart.items %}
                <tr>
                   <td>
                        <div style="display: flex; align-items: center; gap: 8px;">
                            <button type="button" class="remove-button" onclick="removeProduct('{{ product_id }}')" style="padding: 4px 8px; background-color: #088178; color: white; border: none; border-radius: 3px; cursor: pointer;">
                               <i class="fas fa-times"></i>
                            </button>
                            <img src="{{ product_data.image }}" alt="product-img" style="width: 30px; height: 30px;" />
                            <span>{{ product_data.title }}</span>
                        </div>
                    </td>

                    <td style="display: flex">
                        <span id="total_price_{{ product_id }}" data-price="{{ product_data.price }}">
                            {{ product_data.price }} Tk
                        </span>
                    </td>
                </tr>

                <tr>
                  <td>Quantity</td>
                  <td>
                    <div class="quantity-container">
                      <button type="button" class="quantity-button decrement" onclick="changeQuantity('{{ product_id }}', -1)">-</button>
                      <input type="text" name="quantity_{{ product_id }}" id="quantity_{{ product_id }}" value="{{ product_data.quantity}}" class="quantity-input" readonly />
                      <button type="button" class="quantity-button increment" onclick="changeQuantity('{{ product_id }}', 1)">+</button>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            {% else %}
              <tr>
                <td colspan="2" class="centered-text">Your cart is empty.</td>
              </tr>
            {% endif %}
            <tr><td>Subtotal</td><td id="subtotal"></td></tr>
            <tr>
              <td>Shipping</td>
              <td class="shipping-cost">
                <div class="radio-group">
                  <div class="radio-item">
                    <input type="radio" name="shipping" value="50" onchange="updateSubtotalAndTotal()" />
                    <label class="radio-title">ঢাকার ভিতরে: 50 টাকা</label>
                  </div>
                  <div class="radio-item">
                    <input type="radio" name="shipping" value="100" onchange="updateSubtotalAndTotal()" />
                    <label class="radio-title">ঢাকার বাহিরে: 100 টাকা</label>
                  </div>
                </div>
              </td>
            </tr>
            <tr><td>Total</td><td id="total">0 Tk</td></tr>
          </table>
        </div>
        <button type="submit" id="submit-button" class="btn btn-primary" disabled>অর্ডার নিশ্চিত করুন</button>
      </div>
    </div>
  </div>
</form>



  <!--:::::Order Form and Billing Address Ends:::::::-->

    <div class="order-info">
        <p class="order-text">অর্ডার করতে অথবা বিস্তারিত জানতে সরাসরি কল করুনঃ</p>
        <p class="phone-number"><i class="fas fa-phone-alt"></i>{{ businessinfo.phone_no }}</p>
    </div>
</div>



  <!--:::::Footer area START :::::::-->
<footer class="footer">
    <div class="container row">
        <div class="copyright col-10">
            Copyright © {{ site_settings.copyright_year }} <strong>{{ businessinfo.company_name }}</strong>. All rights reserved. Powered by <a href="https://www.emanagerit.com/" target="_blank"><strong>eManager</strong></a>
        </div>
        <div class="social-media col-12 col-md-2">
            <a href="https://wa.me/{{ businessinfo.whatsapp}}" target="_blank" class="social-icon">
                <i class="fab fa-whatsapp"></i>
            </a>
            <a href="{{ businessinfo.facebook }}" class="social-icon">
                <span class="fab fa-facebook-square"></span>
            </a>
<!--            <a href="#" class="social-icon">-->
<!--                <i class="fab fa-twitter"></i>-->
<!--            </a>-->
<!--            <a href="#" class="social-icon">-->
<!--                <span class="fab fa-instagram"></span>-->
<!--            </a>-->
<!--            <a href="#" class="social-icon">-->
<!--                <span class="fab fa-youtube"></span>-->
<!--            </a>-->
        </div>
    </div>
</footer>

  <!--:::::Footer area Ends :::::::-->


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
function removeProduct(productId) {
    fetch(`?remove=true&product_id=${productId}`)
        .then((response) => {
            if (response.ok) {
                alert("Product remove from cart?");
                location.reload();
            } else {
                response.text().then((message) => alert(message));
            }
        })
        .catch((error) => console.error('Error:', error));
}
</script>

</body>
</html>
